{% extends "base.html.twig" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}

    <main class="container py-3">

    <img class="large-illustration my-5 w-shadow" src="{{ product.webpPicturePath }}" alt="{{ product.name }}">
        
        <!-- Hero -->
        <section class="row py-md-5 py-3 my-md-5">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <h1>{{ product.name }} ({{ product.price | amount }})</h1>
                <p class="card-text">{{ product.shortDescription }}</p>

                {# #}
                <a href="{{ path(
                    'cart_add', {
                        'id': product.id, 
                        'route': app.request.attributes.get('_route'),
                        'param': app.request.attributes.get('_route_params')
                        }
                    ) }}" class="btn btn-primary">
                    <i class="fa-regular fa-bags-shopping fa-fw"></i>
                    Ajouter au Panier
                </a>
            </div>
        </section>

    </main>

{% endblock %}