<!-- Navbar Secondaire -->
<div class="swiper">
    <div class="swiper-wrapper container-fluid d-flex justify-content-start  justify-content-xxl-center bg-white secondary-nav">
        <a class="swiper-slide nav-link" href="{{ path('bien_etre_home') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Bien-Être</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('conseils_bilans') }}">
            <p><i class="fal fa-fw fa-2x fa-comments"></i></p>
            <p class="mb-0">Conseils et Bilans</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('massages_institut') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages de l'Institut</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('massages_monde') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages du Monde</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('massages_carte') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages à la Carte</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('soins_institut') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins de l'Institut</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('soins_absolution') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins Absolution</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('soins_6630') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins 66°30</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('soins_hauschka') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins Dr. Hauschka</p>
        </a>
    </div>
</div>