<!-- Navbar Secondaire -->
<div class="container-fluid d-flex justify-content-lg-center bg-white secondary-nav">
    <a class="card border-0 m-2 nav-link" href="{{ path('bien_etre_home') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Bien-Être</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('conseils_bilans') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-comments"></i></p>
            <p class="mb-0">Conseils et Bilans</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('massages_institut') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages de l'Institut</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('massages_monde') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages du Monde</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('massages_carte') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages à la Carte</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('soins_institut') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins de l'Institut</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('soins_absolution') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins Absolution</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('soins_6630') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins 66°30</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('soins_hauschka') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins Dr. Hauschka</p>
        </div>
    </a>

</div>