<!-- Navbar Secondaire -->
<div class="nav-swiper">
    <div class="swiper-wrapper container-fluid d-flex justify-content-start  justify-content-xxl-center bg-white secondary-nav">
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('bien_etre_home') }}"
            title="Accueil de l'espace bien-être"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Bien-Être</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('conseils_bilans') }}"
            title="Tarifs et informations concernant les bilans de type de peau et conseils"
        >
            <p><i class="fal fa-fw fa-2x fa-comments"></i></p>
            <p class="mb-0">Conseils et Bilans</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('massages_institut') }}"
            title="Tarifs et informations concernant les massages créés par l'Institut"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages de l'Institut</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('massages_monde') }}"
            title="Tarifs et informations concernant les massages du monde, propices à l'évasion"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages du Monde</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('massages_carte') }}"
            title="Tarifs et informations concernant les massages à la carte"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Massages à la Carte</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('soins_institut') }}"
            title="Tarifs et informations concernant les soins créés par l'Institut"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins de l'Institut</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('soins_absolution') }}"
            title="Tarifs et informations concernant les soins visage de la marque absolution"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins Absolution</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('soins_6630') }}"
            title="Tarifs et informations concernant les soins visage de la marque 66°30"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins 66°30</p>
        </a>
        <a 
            class="swiper-slide nav-link" 
            href="{{ path('soins_hauschka') }}"
            title="Tarifs et informations concernant les soins visage de la marque docteur hauschka"
        >
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Soins Dr. Hauschka</p>
        </a>
    </div>
</div>