<div class="card">
	<div class="card-body">

		<img class="img-fluid" src="{{ p.mainPicture }}" alt="Image du produit">

		<h4 class="card-title">{{ p.name }} ({{ p.price / 100 }} €)</h4>
		<span class="badge bg-info">{{ p.category.name }}</span>
		<p class="card-text">{{ p.shortDescription }}</p>

		<a href="{{ path('product_show', { 'category_slug': p.category.slug, 'slug': p.slug }) }}" class="btn btn-sm btn-primary">Détails</a>
		<a href="#" class="btn btn-sm btn-success">Ajouter</a>
	</div>
</div>
