<div class="card border-0 w-100 w-shadow prestation">

	<div class="card-body d-flex flex-column">
		{% if p.webpPicturePath %}
			<img class="img-fluid card-img-top mb-3" src="{{ p.webpPicturePath }}" alt="Image du produit">
		{% else %}
			<img class="img-fluid card-img-top mb-3" src="{{ p.jpgPicturePath }}" alt="Image du produit">
		{% endif %}
		<h4 class="card-title">{{ p.name }}</h4>
		<h5 class="dg-2">{{ p.price | amount }} | {{ p.duration | duration }}</h5>
		<span class="dg-1">{{ p.category.name }}</span>
		<p class="card-text">{{ p.shortDescription }}</p>
		
		<div class="mt-auto" >
			<a href="{{ path('product_show', { 'category_slug': p.category.slug, 'slug': p.slug }) }}" class="btn btn-sm btn-secondary mt-2">Détails</a>
			{# <a class="btn btn-sm btn-primary btn-add-cart" data-controller="cart" data-product-id="{{ p.id }}" data-action="click->cart#add">Ajouter au panier</a> #}
			<a href="{{ path(
				'cart_add', {
					'id': p.id, 
					'route': app.request.attributes.get('_route'),
					'param': app.request.attributes.get('_route_params')
					}
				) 
			}}" class="btn btn-sm btn-primary btn-add-cart mt-2">Ajouter au panier</a>
		</div>
		
	</div>

</div>