{% extends "base.html.twig" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('product_category', {'slug' : product.category.slug }) }}">{{ product.category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>

    <h1>{{ product.name }} ({{ product.price / 100 }} €)</h1>

    <div class="row">
        <div class="col-4"><img class="img-fluid" src="{{ product.mainPicture }}" alt="Image du produit"></div>
        <div class="col">
            <span class="badge bg-primary">{{ product.category.name }}</span>
            <p class="card-text">{{ product.shortDescription }}</p>
            <button href="#" class="btn btn-lg btn-success">
                <i class="fa-regular fa-bags-shopping fa-fw"></i>
                Ajouter au Panier
            </button>
        </div>
    </div
    
{% endblock %}