{% extends "base.html.twig" %}

{% block title %}
    Clients
{% endblock %}

{% block body %}

<main class="container-fluid row p-3">

        {% include "admin/customer/aside_menu.html.twig" %}

        {% block section %}
            
            <!-- Affichage -->
            <section class="col-10 p-4">

                <h1>Liste des Clients</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in customers %}
                            <tr>
                                <td><img class="img-fluid mini-avatar"  src="{{ c.profilePicturePath }}" alt="{{ c.profilePictureName }}"></td>
                                <td>{{ c.firstName }} {{ c.lastName }}</td>
                                <td>
                                    <a href="{{ path('category_edit', {id: c.id} )}}" class="blue-2"><i class="fa-regular fa-circle-info fa-fw"></i></a>
                                    
                                    <a href="{{ path('category_delete', {id: c.id} )}}" class="grape-2"><i class="fa-regular fa-trash fa-fw"></i></a>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                    
                </table>

            </section>
        {% endblock %}

    </main>

{% endblock %}